

# Bitcoin RPC Endpoint
BITCOIN_RPC_ENDPOINT=https://svc.blockdaemon.com/bitcoin/mainnet/native
BITCOIN_API_KEY=your_api_key_here

# Ethereum RPC Endpoint
ETHEREUM_RPC_ENDPOINT=https://svc.blockdaemon.com/ethereum/mainnet/native
ETHEREUM_API_KEY=your_api_key_here

# Solana RPC Endpoint
SOLANA_RPC_ENDPOINT=https://svc.blockdaemon.com/solana/mainnet/native
SOLANA_API_KEY=your_api_key_here
SOLANA_WSS_ENDPOINT=wss://solana-mainnet.core.chainstack.com/c4fd316535159fd103cc0dad2a971ab5

# Kafka Configuration
KAFKA_BROKER_ADDRESS=localhost:9092
KAFKA_TOPIC=blockchain-transactions

LOG_LEVEL=info

MAX_RETRIES=1
RETRY_DELAY=5
RATE_LIMIT=4
